# Improved Flight Price Prediction <i> ~Flight_running_schedule</i>

In [3]:
# importing required libraries

import pandas as pd

In [4]:
df = pd.read_excel("Again_Preprocessed_Flight_data.xlsx")
df.head()

,Unnamed: 0,Name,From,To,Stops,Extra Services,Price,Encoded Route,Duration,Month,Day
0,0,1,0,5,1,8,17135,3,2345,3,1
1,1,10,0,5,4,8,21520,18,160,3,1
2,2,4,0,5,0,8,26890,5,435,3,1
3,3,1,0,5,0,8,23677,5,330,3,1
4,4,3,0,5,4,8,11934,18,170,3,1

In [5]:
# dropping Unnamed Column

df.rename({"Unnamed: 0":"False"}, axis=1, inplace=True)
df.drop(["False"], axis=1, inplace=True)

df.head()

,Name,From,To,Stops,Extra Services,Price,Encoded Route,Duration,Month,Day
0,1,0,5,1,8,17135,3,2345,3,1
1,10,0,5,4,8,21520,18,160,3,1
2,4,0,5,0,8,26890,5,435,3,1
3,1,0,5,0,8,23677,5,330,3,1
4,3,0,5,4,8,11934,18,170,3,1

In [6]:
# Number of flight in Month 3

len(df.loc[df.Month == 3])

2724

In [7]:
# Number of flight in Month 4

len(df.loc[df.Month == 4])

1079

In [8]:
# Number of flight in Month 5

len(df.loc[df.Month == 5])

3465

In [9]:
# Number of flight in Month 6

len(df.loc[df.Month == 6])

3414

In [10]:
# Number of flight in Month 7

len(df.loc[df.Month == 7])

0

In [11]:
# Number of flight in Month 5 and Day 1

len(df.loc[(df.Month == 5) & (df.Day == 1)])

277

In [12]:
# Number of flight in Month 6 and Day 1

len(df.loc[(df.Month == 6) & (df.Day == 1)])

342

In [13]:
# Number of flight in Month 5 and Day 2

len(df.loc[(df.Month == 5) & (df.Day == 2)])

0

In [14]:
# Number of flight in Month 6 and Day 2

len(df.loc[(df.Month == 6) & (df.Day == 2)])

0

In [15]:
len(df.loc[(df.Month == 5) & (df.Day == 2)]), len(df.loc[(df.Month == 6) & (df.Day == 2)])

(0, 0)

In [16]:
len(df.loc[(df.Month == 5) & (df.Day == 3)]), len(df.loc[(df.Month == 6) & (df.Day == 3)])

(90, 333)

In [17]:
len(df.loc[(df.Month == 5) & (df.Day == 4)]), len(df.loc[(df.Month == 6) & (df.Day == 4)])

(0, 0)

In [18]:
len(df.loc[(df.Month == 5) & (df.Day == 5)]), len(df.loc[(df.Month == 6) & (df.Day == 5)])

(0, 0)

In [19]:
len(df.loc[(df.Month == 5) & (df.Day == 6)]), len(df.loc[(df.Month == 6) & (df.Day == 6)])

(281, 503)

In [20]:
len(df.loc[(df.Month == 5) & (df.Day == 7)]), len(df.loc[(df.Month == 6) & (df.Day == 7)])

(0, 0)

In [224]:
for i in range(1,32):
    print('Date :',i,'-',len(df.loc[(df.Month == 3) & (df.Day == i)]),end=" | ")
    print('Date :',i,'-',len(df.loc[(df.Month == 4) & (df.Day == i)]),end=" | ")
    print('Date :',i,'-',len(df.loc[(df.Month == 5) & (df.Day == i)]),end=" | ")
    print('Date :',i,'-',len(df.loc[(df.Month == 6) & (df.Day == i)]),end=" | ")
    print('\n')

Date : 1 - 199 | Date : 1 - 257 | Date : 1 - 277 | Date : 1 - 342 |

Date : 2 - 0 | Date : 2 - 0 | Date : 2 - 0 | Date : 2 - 0 |

Date : 3 - 315 | Date : 3 - 110 | Date : 3 - 90 | Date : 3 - 333 |

Date : 4 - 0 | Date : 4 - 0 | Date : 4 - 0 | Date : 4 - 0 |

Date : 5 - 0 | Date : 5 - 0 | Date : 5 - 0 | Date : 5 - 0 |

Date : 6 - 403 | Date : 6 - 100 | Date : 6 - 281 | Date : 6 - 503 |

Date : 7 - 0 | Date : 7 - 0 | Date : 7 - 0 | Date : 7 - 0 |

Date : 8 - 0 | Date : 8 - 0 | Date : 8 - 0 | Date : 8 - 0 |

Date : 9 - 302 | Date : 9 - 125 | Date : 9 - 484 | Date : 9 - 495 |

Date : 10 - 0 | Date : 10 - 0 | Date : 10 - 0 | Date : 10 - 0 |

Date : 11 - 0 | Date : 11 - 0 | Date : 11 - 0 | Date : 11 - 0 |

Date : 12 - 142 | Date : 12 - 63 | Date : 12 - 259 | Date : 12 - 493 |

Date : 13 - 0 | Date : 13 - 0 | Date : 13 - 0 | Date : 13 - 0 |

Date : 14 - 0 | Date : 14 - 0 | Date : 14 - 0 | Date : 14 - 0 |

Date : 15 - 162 | Date : 15 - 89 | Date : 15 - 405 | Date : 15 - 328 |

Date : 16 - 0 | Date : 16 - 0 | Date : 16 - 0 | Date : 16 - 0 |

Date : 17 - 0 | Date : 17 - 0 | Date : 17 - 0 | Date : 17 - 0 |

Date : 18 - 156 | Date : 18 - 67 | Date : 18 - 504 | Date : 18 - 105 |

Date : 19 - 0 | Date : 19 - 0 | Date : 19 - 0 | Date : 19 - 0 |

Date : 20 - 0 | Date : 20 - 0 | Date : 20 - 0 | Date : 20 - 0 |

Date : 21 - 423 | Date : 21 - 82 | Date : 21 - 497 | Date : 21 - 109 |

Date : 22 - 0 | Date : 22 - 0 | Date : 22 - 0 | Date : 22 - 0 |

Date : 23 - 0 | Date : 23 - 0 | Date : 23 - 0 | Date : 23 - 0 |

Date : 24 - 323 | Date : 24 - 92 | Date : 24 - 286 | Date : 24 - 351 |

Date : 25 - 0 | Date : 25 - 0 | Date : 25 - 0 | Date : 25 - 0 |

Date : 26 - 0 | Date : 26 - 0 | Date : 26 - 0 | Date : 26 - 0 |

Date : 27 - 299 | Date : 27 - 94 | Date : 27 - 382 | Date : 27 - 355 |

Date : 28 - 0 | Date : 28 - 0 | Date : 28 - 0 | Date : 28 - 0 |

Date : 29 - 0 | Date : 29 - 0 | Date : 29 - 0 | Date : 29 - 0 |

Date : 30 - 0 | Date : 30 - 0 | Date : 30 - 0 | Date : 30 - 0 |

Date : 31 - 0 | Date : 31 - 0 | Date : 31 - 0 | Date : 31 - 0 |

In [23]:
# creating a dictionary to store flight running schedule

dictionary = {
    'Date': [],
    'Month 3': [],
    'Month 4': [],
    'Month 5': [],
    'Month 6': [],
}

In [24]:
for i in range(1,32):
    dictionary['Date'].append(i)
    dictionary['Month 3'].append(len(df.loc[(df.Month == 3) & (df.Day == i)]))
    dictionary['Month 4'].append(len(df.loc[(df.Month == 4) & (df.Day == i)]))
    dictionary['Month 5'].append(len(df.loc[(df.Month == 5) & (df.Day == i)]))
    dictionary['Month 6'].append(len(df.loc[(df.Month == 6) & (df.Day == i)]))

In [25]:
# flight runnung schedule dataframe

flight_running_schedule = pd.DataFrame(dictionary)

In [27]:
flight_running_schedule

    Date  Month 3  Month 4  Month 5  Month 6
0      1      199      257      277      342
1      2        0        0        0        0
2      3      315      110       90      333
3      4        0        0        0        0
4      5        0        0        0        0
5      6      403      100      281      503
6      7        0        0        0        0
7      8        0        0        0        0
8      9      302      125      484      495
9     10        0        0        0        0
10    11        0        0        0        0
11    12      142       63      259      493
12    13        0        0        0        0
13    14        0        0        0        0
14    15      162       89      405      328
15    16        0        0        0        0
16    17        0        0        0        0
17    18      156       67      504      105
18    19        0        0        0        0
19    20        0        0        0        0
20    21      423       82      497      109
21    22        0        0        0        0
22    23        0        0        0        0
23    24      323       92      286      351
24    25        0        0        0        0
25    26        0        0        0        0
26    27      299       94      382      355
27    28        0        0        0        0
28    29        0        0        0        0
29    30        0        0        0        0
30    31        0        0        0        0

In [28]:
# writing dataframe to xlsx

writer = pd.ExcelWriter("C:\\Users\\Ashutosh Kumar Singh\\PythonTraining\\flight raw\\flight_running_schedule.xlsx")
flight_running_schedule.to_excel(writer,'Sheet1')
writer.save()